html {
    height: 100%;
    
}

body {
    min-height: 100vh;
    margin: 0px;
}

#content {
    display: flex;
    flex-direction: column;
    background-image: url("../images/1278235.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: inherit;
}

.main {
    display: flex;
    flex: auto;
    flex-direction: column;
    background-color: rgba(0,0,0, 0.6);
}